{% extends 'bootstrap3/bootstrap3.html' %}

{% load bootstrap3 %}

{% load bootstrap_themes %}

{% load staticfiles %}

{% load templatetags %}

{% bootstrap_styles theme='simplex' type='min.css' %}

{% block bootstrap3_content %}
    <style>

        #area {
            width: fit-content;
            height: 650px;
            margin: -5px auto;
            -moz-box-shadow: inset 10px 0 20px rgba(0, 0, 0, .1);
            -webkit-box-shadow: inset 10px 0 20px rgba(0, 0, 0, .1);
            box-shadow: inset 10px 0 20px rgba(0, 0, 0, .1);
            padding: 40px 40px;
        }


    </style>
    <script src="{% static 'base/js/epub.js-master/build/epub.min.js' %}"></script>
    <script src="{% static 'base/js/epub.js-master/build/libs/zip.min.js' %}"></script>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <button type="button" class="btn-info" onclick="book.nextPage()">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </button>
            </div>
        </div>
        <div id="area"></div>
        <div class="row">
            <div class="col-lg-9">
                <button type="button" class="btn-info" onclick="book.nextPage()">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
            <div class="col-lg-9">
                <div class="btn btn-default"><a href="{% url 'homepage' %}">GO HOME YOURE DRUNK</a></div>
            </div>
        </div>
    </div>





    <script>

        var book = ePub("{{ book.document.url }}");
        book.renderTo("area");
    </script>
{% endblock %}